#fourth-section{
    margin: 0;
    padding: 0 4em;
}

#fourth-section h3{
    font-size: 2.2em;
    text-align: center;
}

#fourth-section-img-container{
    display: grid;
    grid-template: auto auto auto / 1fr 1fr 1fr;
    grid-gap: 4em;
    margin: 0;
    padding: 0;
}

.fourth-section-img{
    max-width: 100%;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 770px){
    #fourth-section{
        margin: 0;
        padding: 0;
    }
    
    #fourth-section h3{
        font-size: 2.2em;
        text-align: center;
    }
    
    #fourth-section-img-container{
        display: grid;
        grid-template: auto auto auto / 1fr 1fr;
        grid-gap: .5em;
        margin: 0;
        padding: 0;
    }
    
    .fourth-section-img{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}