#book-steps-section{
    border: 1px solid black;
    position: fixed;
    right: 0;
    top: 50%;
    width: 14em;
    min-height: 16em;
    transform: translateY(-50%);
    z-index: 2;
}

@media screen and (max-width: 770px){
    #book-steps-section{
        border: 1px solid black;
        position: unset;
        right: 5em;
        top: 0;
        width: 90%;
        margin: 1em auto 3em auto !important;
        min-height: 16em;
        transform: translateY(0);
        z-index: 2;
    }
}