#book-steps-section{
    position: fixed;
    right: 0;
    top: 50%;
    width: 14em;
    min-height: 16em;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: .4em;
    box-shadow: .25em .5em 1em grey;
}

#book-steps-section p{
    text-align: center;
}

#book-steps-section > button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4.5em;
    height: 2em;
    font-size: 1em;
}

#book-steps-section div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#book-steps-section button{
    width: 4.5em;
    height: 2em;
    font-size: 1em;
    background-color: skyblue;
    border: none;
    color: white;
    margin-bottom: 1em;
}

@media screen and (max-width: 770px){
    #book-steps-section{
        display: none;
        border: 1px solid black;
        position: unset;
        right: 5em;
        top: 0;
        width: 90%;
        margin: 1em auto 3em auto !important;
        min-height: 16em;
        transform: translateY(0);
        z-index: 1;
    }

    .show-book-step{
        display: block !important;
    }
}