#upcoming-bookings-list{
    margin: 0;
    padding: 0;
    min-height: 18em;
}

#no-upcoming{
    text-align: center;
    margin: 0;
    padding: 0;
    transform: translateY(75%);
}

#no-upcoming p:nth-child(1){
    font-size: 1.1em;
}