#contact-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 4em;
}

#contact-section > section{
    width: 50%;
}

.contact-section-img{
    max-width: 100%;
}

@media screen and (max-width: 1300px){
    #contact-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: 0;
        padding: 0;
    }
    
    #contact-section > section{
        width: 100%;
    }
    
    .contact-section-img{
        max-width: 100%;
    }
}