#history-bookings-list-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 1em;
    height: 18em;
    overflow: auto;
}

#no-history{
    text-align: center;
    margin: 0;
    padding: 0;
    transform: translateY(75%);
}

#no-history p:nth-child(1){
    font-size: 1.1em;
}